<% layout('layouts/boilerplate') %>


 <div class="formbody">
       
 </div>

    <div class="background">
        <div class="section">
            <div class="top">
                <div><img id=ggvlogo style="width: 59px;height:50px;padding-right:1vw;
                                            margin: 10px;
                                            margin-left: 15px; 
                                            margin-top: 15px;" src="/images/ggvlogo.png" alt=""></div>
                <div>
                    <p style="color: #000000; font-weight: bold; 
                              font-size: 20px;
                              padding-top: 16px; 
                              font-family: 'PT Sans', sans-serif;">Guru Ghasidas Vishwavidyalaya<br><span
                            style="color: #666666;font-size: 15px; ">Bilaspur</span></p>

                </div>
            </div>
            <div class="signcontent">
                <div class="head" style="font-family: 'PT Sans', sans-serif;" >Come Aboard </div>
                <div class="signup"><i class="bi bi-envelope-fill" style="font-size: 18px;
                                                                          margin-right: 35px; 
                                                                          margin-left: 18px;"></i>  Sign up with Email </div>
                
                
            </div>

            <div class="lastsection"  >
                <div class="logincontent" >  Login  with Email </div>
            </div>
        </div>
    </div>




    <!-- <h2 style="text-align: center;" >Log in</h2>
<form action="/login" class="validate-form" novalidate method="post">
    <div class="mb-3">
        <label for="username" class="form-label">username:</label>
         campgrounds[title] we are grouping things together in campground-->
    <!-- <input type="text" class="form-control" id="username" name='username' required>
        <div class="valid-feedback">
            looks good!
        </div>
    </div> -->

    <!-- <div class="mb-3">
        <label for="password" class="form-label">password</label>
         campgrounds[title] we are grouping things together in campground-->
    <!-- <input type="password" class="form-control" id="password" name='password' required>
        <div class="valid-feedback">
            looks good!
        </div>
    </div> -->

    <!-- <button class="btn btn-success" >Log in</button>

</form>  -->