<div id=loader>
    <div id=loadcontain>
        <div class=rotating id=outer style="height: 30%; width: 30%; border-color: lightseagreen;">
            <div class=rotating id=mid style="height: 29.5%; width: 29.5%; border-color: yellow;">
                <div class=rotating id=inner style="height: 28%; width: 28%; border-color: tomato;">
                </div>
            </div>
        </div>
    </div>
</div>