<div id=navbar>
  <div id=shrinkbar><i id=toggle class="bi bi-list"></i></div>
  <div class=navcontent>
      <div class=navitems ><a href="/#topbar" style="text-decoration: none; color: inherit;"  ><i class="bi bi-house-fill"></i> HOME</a></div>
      <div class=navitems><a href="/#about" style="text-decoration: none; color: inherit; "  ><i class="bi bi-info-circle-fill"></i> ABOUT</a></div>
      <div class=navitems><a href="/#committee" style="text-decoration: none; color: inherit; "  ><i class="bi bi-people-fill"></i> COMMITTEE</a></div>
      <div class=navitems><a href="/contactus" style="text-decoration: none; color: inherit;"  ><i class="bi bi-person-lines-fill"></i> CONTACT</a></div>
      <div class=navitems><a href="/member" style="color: inherit; text-decoration: none;" ><i class="bi bi-person-circle"></i> MEMBERS</a></div>
  </div>
  <div class=navcontent>
      <div class=navitems>Login</div>
      <div class=navitems>SignUp</div>
  </div>
</div>



