<div id="outsidebox" style="font-family: 'Bebas Neue', cursive; font-size: 25px;">
    <div id="container">
        <div class="items">
            <div class="items">
                <div class="items">
                    <div class="items">
                        <div class="items">
                            <div class="items">
                                <div class="items">
                                    <div class="items">
                                        <div class=buttons>LOG OUT</div>
                                    </div>
                                    <div class=buttons>MEMBERS</div>
                                </div>
                                <div class=buttons>BLOGS</div>
                            </div>
                            <div class=buttons>EVENTS</div>
                        </div>
                        <div class=buttons>CONTACT</div>
                    </div>
                    <div class=buttons>COMMITTEE</div>
                </div>
                <div class=buttons>ABOUT</div>
            </div>
            <div class=buttons>HOME</div>
        </div>
    </div>
</div>