<div id=topbar>
    <div id="follow">
        <div><i style=" margin-right:5px;" class="bi bi-envelope-fill"></i>ggvalumni@gmail.com</div>
        <div>Follow us on: <i style="background-color:white; color: rgb(20, 64, 148); padding-left:2px; padding-right:2px; padding-top: 2px; border-radius:3px;" class="bi bi-facebook"></i><i style="background-color:white; color:rgb(153, 4, 121); padding-left:2px;  padding-top: 2px; padding-right:2px; border-radius:3px;" class="bi bi-instagram"></i></div>
    </div>
</div>