body{
    margin:0px;
}
#navbar{
    display:flex;
    flex-direction: row;
    background-color: rgba(203, 45, 45,0);
    width:100%;
    height:auto;
    justify-content: space-between;
    margin-top: 0px;
    position:sticky;
    z-index: 100;
    top:0px;
    transition: background-color 0.6s;
}
.navcontent{
    display:flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    color:white;
    height:auto;
    font-size:12px;
}
#toggle{
    font-size: 17px;
    display:none;
    color:white;
}
#shrinkbar{
    padding: 14px;
}
.navitems{
    display:initial;
    text-align: center;
    height:13px;
    background-repeat: no-repeat;
    background-image:linear-gradient(to bottom,
                    transparent 0%,
                    transparent 50%,
                    white 50%,
                    white 100%);
    background-size:100% 200%;
    transition: 0.2s background-position ease-in,0.5s color;
    align-content: center;
    cursor: pointer;
    /* text-shadow: 0px 0px 3px white; */
}

@keyframes phisal{
    0%{
        margin-left:-120%;
    }
    50%{
        margin-left:-120%;
    }
    100%{
        margin-left:0%;
    }
}
.navitems:hover{
    background-position:100% 100%;
    color:#C21717;
}

.usertoggle{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    z-index: 200;
    background-color: ivory;
    right: 0;
    top: 230px;
}

.logout{
    width:100%;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 13px;
}

.logout:hover{
    background-color: rgb(230, 59, 29);
    color: white;
}

.edit{
    width:100%;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 13px;  
}

.edit:hover{
    background-color: rgb(230, 59, 29);
    color: white;
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:1%;
    margin-top: 18px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

@media screen and (max-width:768px) {
    #navbar{
        display:flex;
        flex-direction: row;
        background-color: rgba(203, 45, 45,0);
        width:100%;
        height:auto;
        justify-content: space-between;
        margin-top: 0px;
        position:sticky;
        z-index: 100;
        top:0px;
        transition: background-color 0.6s;
    }
    .navcontent{
        display:flex;
        flex-direction: row;
        font-family: 'Poppins', sans-serif;
        color:white;
        height:auto;
        font-size:14px;
    }
    #toggle{
        font-size: 17px;
        display:none;
        color:white;
    }
    #shrinkbar{
        padding: 16px;
        display: flex;
        justify-content: flex-end;
    }
    .navitems{
        display:initial;
        text-align: center;
        height:14px;
        align-content: center;
        text-shadow: 0px 0px 3px white;
    }
    @keyframes phisal{
        0%{
            margin-left:-140%;
        }
        50%{
            margin-left:-140%;
        }
        100%{
            margin-left:0%;
        }
    }
}