<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" &display=swap rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="navbar/navbar.css">
    <link rel="stylesheet" href="loading/loading.css">
    <link rel="stylesheet" href="topbar/topbar.css">
    <link rel="stylesheet" href="home/home.css">
    <link rel="stylesheet" href="about/about.css">
    <link rel="stylesheet" href="committee/committee.css">
    <link rel="stylesheet" href="footer/footer.css">
    <style>
    </style>
</head>
<div id=slideshow>
    <div id=back1 class=backsgroup></div>
    <div id=back2 class=backsgroup></div>
    <div id=back3 class=backsgroup></div>
    <div id=back4 class=backsgroup></div>
    <div id=back5 class=backsgroup></div>
</div>
<%- include('../partials/topbar') %>
    <div id=ad>
        <div style="display: flex; flex-direction: row;">
            <div id=logohead>
                <img id=ggvlogo style="width:95px;height:95px;padding-right:1vw;" src="/images/ggvlogo.png" alt="">
                <div id=slidehead><span id=eng>GURU GHASIDAS VISHWAVIDYALAYA</span><span id="hin">गुरु घासीदास
                        विश्वविद्यालय</span></div>
            </div>
        </div>
        <div id=location>GURU GHASIDAS VISHWAVIDYALAYA<br>Koni, Bilaspur - 495006, C.G., India
            <div><i style="font-size: 50px" class="bi bi-geo-alt"></i>
            </div>
        </div>
    </div>
    <%- include('../partials/navbar') %>

        <div id=home>
            <div class="intro">
                <p class="typing"></p>
            </div>
            <div id=events>
                <div class="getalong"></div>
                <div class="getalong"></div>
                <div class="getalong"></div>
                <div class="getalong"></div>
            </div>
        </div>
        <div id=about>
            <div id=aboutdesc>
                <div id=desccol>
                    <div class=two>
                        <h1 class=aboutheads>ABOUT <span style="color:rgb(203, 45, 45);">GGV</span></h1>
                        <p>Guru Ghasidas Vishwavidyalaya, is a Central University of India, located in Bilaspur
                            C.G.
                            State, established under <b>Central Universities Act 2009, No. 25 of 2009</b>. Formerly
                            called Guru
                            Ghasidas
                            University (GGU), established by an <b>Act of the State Legislative Assembly</b>, was
                            formally inaugurated
                            on
                            June
                            16, 1983.<br>

                            GGU is an active member of the Association of Indian Universities and Association of
                            <b>Commonwealth
                                Universities</b>. Situated in a socially and economically challenged area, the
                            university is
                            appropriately
                            named
                            to honor the great Satnami Saint Guru Ghasidas (born in 17th century), who championed the
                            cause of the
                            downtrodden and waged a relentless struggle against all forms of social evils and injustice
                            prevailing
                            in
                            the society.The University is a residential cum affiliating institution, having its
                            jurisdiction spread
                            over
                            Bilaspur Revenue Division of the state of Chhattisgarh.
                        </p>
                    </div>
                    <div class=two>
                        <h1 class=aboutheads>ABOUT <span style="color:rgb(203, 45, 45);">NATIONAL CENTRE FOR ACCELARATOR
                                BASED
                                RESEARCH</span></h1>
                        <p>Guru Ghasidas Vishwavidyalaya established a 3.0 MV pelletron accelerator(9SDH-4, NEC).This is
                            accordance with the Memorandum of Understanding (MoU) signed between Board of Research in
                            <b>Nuclear
                                Science,
                                Department of Atomic Energy, Government of India and the University, which is for
                                setting a Special
                                Scientific
                                Centre</b> in the campus with the name <b>"National Centre for Accelerator-based
                                Research"(in short
                                NCAR)</b>. This
                            inter-disciplinary research facility is related to atomic energy, it helped to create
                            skilled manpower
                            required for nuclear plants. NCAR was the first of its kind in entire Central India. The
                            machine had
                            already reached from National <b>Electrostatics Corporation, United States</b>.<br> NCAR
                            organized two
                            days
                            national workshop on particle accelerator under
                            the aegis of <b>Indian Society of Particle Accelerator(ISPA) on February 18–19, 2014</b>.
                        </p>
                    </div>
                </div>
                <div id=vccut>
                    <h1 class=aboutheads>MESSAGE FROM THE <span style="color:rgb(203, 45, 45);">VICE CHANCELLOR</span>
                    </h1>
                    <p style="display: flex; flex-direction: row;"><img
                            style="height:fit-content; margin-right: 20px; border-left: 8px  solid rgb(203, 45, 45); border-bottom: 8px  solid rgb(203, 45, 45);"
                            src="images/VC.PNG" alt=" ">
                    <h2>Prof. Anjila Gupta</h2>
                    I feel privileged as I greet you at the website of Guru Ghasidas Vishwavidyalaya. This
                    Central University, named after the great Satnami Saint and social reformer, Guru Ghasidas ji, is
                    nestled in the state of Chhattisgarh in India. It’s a matter of pride to be in Chhattisgarh. <button
                        class=readmore
                        style="margin-left: 17px; background-color: rgb(203, 45, 45); border:0px; height: 35px; color: ivory; border-radius: 2px; border:1px solid transparent; cursor: pointer;"><span
                            style="padding: 17px; font-family: 'Quicksand', sans-serif;">Read More</span></button></p>

                </div>
            </div>
        </div>
        <div id=committee>
            <div id=album>
                <div class=album1>
                    <div style="height:50%; width:22%; align-self:flex-end;" class=commembers></div>
                    <div style="height:100%; width:22%; align-self:flex-end;" class=commembers></div>
                    <div style="height:80%; width:18%; align-self:flex-end;" class=commembers></div>
                    <div style="height:50%; width:22%; align-self:flex-end;" class=commembers></div>
                </div>
                <div class=album1>
                    <div style="height:50%; width:22%;" class=commembers></div>
                    <div style="height:80%; width:18%;" class=commembers></div>
                    <div style="height:100%; width:22%;" class=commembers></div>
                    <div style="height:50%; width:22%;" class=commembers></div>
                </div>
            </div>
            <div id="comhead">
                <p style="font-size:5.5vw; font-family: 'Fredericka the Great', cursive; line-height: 64px;">The <span
                        style="color:rgb(203, 45, 45);">committee</span></p>
                        <p>The world gets more complicated with every passing day. We get involved with our families and work
                            and suddenly we’ve lost touch with those outside that close circle. The Alumni Association can help
                            you stay connected to those friends and to the vast resources available here, from the faculty that
                            taught and guided you to our libraries, seminars and symposia, web sites, social media and an
                            extraordinary variety of “stay connected” programs designed with you in mind. They are all designed
                            to support you as you pursue your post-academic life and career.</p>
            </div>
            <div id=contactsofmems></div>
            </div>
            <div id="footer">
                <div class="wider" style=" border-right:3px dashed rgba(240, 255, 255, 0.5);">
                    <img style="width:22%;height:auto;" src="/images/ggvlogo.png" alt="">
                    <div style="width:85%; height:13%; text-align:center;">
                        <div id=location style=" display:flex; flex-direction: column; font-size: 14px;">Guru Ghasidas Vishwavidyalaya<br><span style="color:rgba(255, 255, 255, 0.5);">Koni, Bilaspur - 495006, C.G., India</span></div>
                        <div class=contactdetails><i style="margin-right: 1vw;" class="bi bi-telephone-fill"></i> 07752 260454</div>
                        <div class=contactdetails><i style="margin-right: 1vw;" class="bi bi-envelope-fill"></i> ggvalumni@gmail.com</div>
                        <div class=contactdetails><i style="margin-right: 1vw;" class="bi bi-phone-fill"></i> 09425280380</div>
                    </div>
                </div>
                <div class="thinner"></div>
                <div class="thinner"></div>
                <div class="wider"></div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
                integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
                crossorigin="anonymous"></script>
            <script src="navbar/navbar.js"></script>
            <script src="loading/loading.js"></script>
            <script src="home/home.js"></script>
        </body>
</html>