body{
    display:flex;
    flex-direction: column;
    display:flex;
}
#topbar{
    background-color: #C21717;
    color:white;
}
.navbar{
    width: 100%;
}
.ablog{
    margin-top: 18px;
    width:80%;
    display:flex;
    background-color: rgb(252, 250, 248);
    margin-bottom: 14px;
    border-radius: 5px;
}
.contentcontainer{
    width:92%;
    padding:2%;
}
.details{
    height:40px;
    min-width: 100%;
    background-color: rgb(228, 226, 226);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color:grey;
}
.likes{
    width:8%;
    box-sizing: border-box;
    background-color: rgb(245, 239, 239);
    height:inherit;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
}
.username{
    width:100%;
    height:40px;
    border-bottom: 1px solid rgb(184, 181, 181);
    display: flex;
    justify-content: space-between;
}
.text{
    width:fit-content !important;
    overflow-y: hidden;
    position: relative;
    padding-top: 20px;
}
#commentsection{
    width:80%;
    height:auto;
    border-bottom: 100px solid white;
}
.comment{
    margin-top: 20px;
    background-color: rgb(245, 239, 239);
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 6px;
}
.commenthead{
    height:50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    color:rgb(163, 162, 162);
}
.commentcont{
    margin-top: 10px;
    padding-bottom: 20px;
}

.bi-save2-fill, .bi-chat-fill, .bi-hand-thumbs-up-fill{
    color:grey !important;
    cursor: pointer;
}
.bi-save2-fill:hover, .bi-chat-fill:hover, .bi-hand-thumbs-up-fill:hover{
    color:black !important;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(30, 29, 46);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    background: rgb(203, 45, 45);
  }
  