body{
    overflow: hidden;
}

.profile{
    display: flex;
    
}

/* h2{
    color: aqua;
} */

.imageprofile{
    width: 300px;
    height: 100vh;
   
    margin-left: 100px;
    margin-right: 80px;
}

.vprofile{
    width: auto;
    height: max-content;
    margin-left: 40px;
    background-color:#FFFFFF;
    box-shadow: 5px 10px 25px grey ;

}

.img{
    width: 270px;
    height: 270px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px grey;
    background-color: azure;
}

.fullname{
   text-align: center;
    font-size: 35px;
    font-weight: 500;
}


.username{
  font-weight: 500;
  text-align: center;
}

.username::after{
  content: " ";
  margin-top: 25px;
  display: block;
  height: 3px;
  width: inherit;
  text-decoration: underline;
  background-color: black;
}

.email{
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.school , .course , .dep , .designation, .address , .phone_No{
    margin-top: 20px;
    font-size: 22px;
    padding: 5px;
    letter-spacing: 2px;
    width: 650px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
}

.bi{
    margin-left: 5px;
    margin-right: 12px;
}