<% layout('layouts/boilerplate') %>
    <h1>Corners</h1>
    <div>
        <div class="blocks">Educational Blogs</div>
        <div class="blocks">Career Blogs</div>
        <div class="blocks">Food Blogs</div>
        <div class="blocks">Travel Blogs</div>
        <div class="blocks">Music Blogs</div>
        <div class="blocks">Lifestyle Blogs</div>
        <div class="blocks">Fitness Blogs</div>
        <div class="blocks">Sports Blogs</div>
        <div class="blocks">Finance Blogs</div>
        <div class="blocks">Political Blogs</div>
        <div class="blocks">Personal Blogs</div>
    </div>
