<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=corner.name %> </h1>
    <% if(corner.blogs.length!=0){ %>
        <% for(let blog of corner.blogs){ %>
            <div><%-blog.bloggerName%></h2></div>
            <div id="text"><%-blog.blogText%></div>
        <% } %>
    <% } %>
            
    <div onclick="location.href='/blogs/<%=corner.name %>/writeblog'">write a blog</div>
</body>
</html>