<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blog/bloges.css">
</head>

<body>
    <h1>Corners</h1>
    <div>
        <div class="blocks">Educational Blogs</div>
        <div class="blocks">Career Blogs</div>
        <div class="blocks">Food Blogs</div>
        <div class="blocks">Travel Blogs</div>
        <div class="blocks">Music Blogs</div>
        <div class="blocks">Lifestyle Blogs</div>
        <div class="blocks">Fitness Blogs</div>
        <div class="blocks">Sports Blogs</div>
        <div class="blocks">Finance Blogs</div>
        <div class="blocks">Political Blogs</div>
        <div class="blocks">Personal Blogs</div>
    </div>
</body>

</html>