<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/blogs/blog.css">
</head>

<body>
    <div id="part1" class="parts">
        <div class=desc
            style="margin-left: 400px; padding:8px; font-size: 18px; display:flex; flex-direction: column; justify-content: center;">
            <h4 style="font-size: 25px;">Wanna Share Your Ideas</h4>
            <p>The first thing you learn when you’re blogging is that people are one click away from leaving you.</p>
        </div>
        <div class=desc style="width:16%;"><img src="/images/blog2.jpg"  class="up" style="width:100%;"></div>
        <div class=desc><img src="/images/blog.jpg" style="width:100%; height:auto;" class="up" class="images"><p>If you want to continually grow your blog, you need to learn to blog on a consistent basis.</p></div>
    </div>
    <div id="part2" class="parts" style="overflow:hidden;">
        <div id="heading" style="width:30%; height:100%; font-size: 8vw; font-family: 'Major Mono Display', monospace;"><div class=rightse>BLOG</div> <div
                style="transform: translate(100px,-15px);" class=leftse>Scape</div>
        </div>
        <div class=desc
            style="display:flex; flex-direction: column; justify-content: flex-end;  font-size: 18px; text-align: right;">
            <h3>Unleash Your Power</h3>
            <p>A blog is only as interesting as the interest shown in others.</p><img src="/images/blog3.jpg"
                style="width:75%;" class=down class="images">
        </div>
        <div class=desc><img src="/images/blog4.jpg" style="width:100%;"  class=down></div>
    </div>

    <div class="grid-container">
        <div class="blocks item1" onclick="location.href='/blogs/educational?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/educational.jpg);">Educational</div>
        <div class="blocks item2" onclick="location.href='/blogs/career?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/career.jpg);">Career</div>
        <div class="blocks item3" onclick="location.href='/blogs/food?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/food.jpg);">Food</div>
        <div class="blocks item4" onclick="location.href='/blogs/travel?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/travel.jpg);">Travel</div>
        <div class="blocks item5" onclick="location.href='/blogs/music?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/music.jpg);">Music</div>
        <div class="blocks item6" onclick="location.href='/blogs/lifestyle?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/lifestyle.jpg);">Lifestyle</div>
        <div class="blocks item7" onclick="location.href='/blogs/fitness?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/fitness.jpg);">Fitness</div>
        <div class="blocks item8" onclick="location.href='/blogs/sports?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/sports.jpg);">Sports</div>
        <div class="blocks item9" onclick="location.href='/blogs/finance?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/finance.jpg);">Finance</div>
        <div class="blocks item10" onclick="location.href='/blogs/political?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/political.jpg);">Political</div>
        <div class="blocks item11" onclick="location.href='/blogs/personal?index=1';" style="background-image: linear-gradient(rgba(3, 56, 100, 0.5),rgba(255, 255, 255, 0.7)), url(/images/personal.jpg);">Personal</div>
    </div>
</body>

</html>