<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/blogs/blog.css">
</head>

<body>
    <div id="part1" class="parts">
        <div class=desc
            style="margin-left: 400px; padding:8px; font-size: 18px; display:flex; flex-direction: column; justify-content: center;">
            <h4 style="font-size: 25px;">Wanna Share Your Ideas</h4>
            <p>The first thing you learn when you’re blogging is that people are one click away from leaving you.</p>
        </div>
        <div class=desc style="width:16%;"><img src="/images/blog2.jpg"  class="up" style="width:100%;"></div>
        <div class=desc><img src="/images/blog.jpg" style="width:100%; height:auto;" class="up" class="images"><p>If you want to continually grow your blog, you need to learn to blog on a consistent basis.</p></div>
    </div>
    <div id="part2" class="parts" style="overflow:hidden;">
        <div id="heading" style="width:30%; height:100%; font-size: 8vw; font-family: 'Major Mono Display', monospace;"><div class=rightse>BLOG</div> <div
                style="transform: translate(100px,-15px);" class=leftse>Scape</div>
        </div>
        <div class=desc
            style="display:flex; flex-direction: column; justify-content: flex-end;  font-size: 18px; text-align: right;">
            <h3>Unleash Your Power</h3>
            <p>A blog is only as interesting as the interest shown in others.</p><img src="/images/blog3.jpg"
                style="width:75%;" class=down class="images">
        </div>
        <div class=desc><img src="/images/blog4.jpg" style="width:100%;"  class=down></div>
    </div>

    <div id=blocksbox>
        <div class="blocks" onclick="location.href='/blogs/educational';">Educational Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/career';">Career Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/food';">Food Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/travel';">Travel Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/music';">Music Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/lifestyle';">Lifestyle Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/fitness';">Fitness Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/sports';">Sports Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/finance';">Finance Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/political';">Political Blogs</div>
        <div class="blocks" onclick="location.href='/blogs/personal';">Personal Blogs</div>
    </div>
</body>

</html>