<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@550&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="contact/contact.css">
    <link rel="icon" href="components/ggv.png">
</head>

<body>


    <%- include('../partials/navbar') %>
        <div id=contain>
            <div id=contacttext>CONTACT<br>US</div>
            <div id=desccontain>
                <p id=teacher style="font-size: 1.65vw; margin-bottom: 1vw;">Amit Kumar Khaskalam <br>(Teacher member of cell)</p>
                <div id=justout>
                    <div style="margin-right: 2vw;">
                        <p>DEPARTMENT OF TECHNOLOGY</p>
                        <p>GURU GHASIDAS VISHWAVIDYALAYA</p>
                        <p>KONI BILASPUR Pin : 495009</p>
                    </div>
                    <div>
                        <p><i style="margin-right: 1vw;" class="bi bi-envelope-fill"></i>EMAIL : ggvalumni@gmail.com</p>
                        <p><i style="margin-right: 1vw;" class="bi bi-telephone-fill"></i>LAND LINE : 07752 260454</p>
                        <p><i style="margin-right: 1vw;" class="bi bi-phone-fill"></i>Mobile No : 09425280380</p>
                    </div>
                </div>
                <button id=suggestionbutt>Leave a suggestion</button>
            </div>
        </div>
        <div id=bodily></div>
        </div>


        <script src="navbar/navbar.js"></script>

</body>

</html>